//基本色
$co-w:#fff;
$co-bk:#000;
$co-red:#f34458;

//整體主色
$main-co-1:#171722;
$main-co-2:#232336;
$main-co-3:#323246;
$secondary-co-1:#665dc3;
$secondary-co-2:#867bff;
$third-co-1:#39bb81;
$fourth-co-1:#fbd208;

//文字色
$main-font-1:#91919e;
$main-font-2:$co-w;


//框線色
$main-line-1:#4c4c72;
$main-line-2:#c5c5c5;

//各色
$co1:#cc7676;
$co2:#aaaa95;
$co3:#986bbf;
$co4:#778b65;
$co5:#425e7f;
$co6:#e09ccb;
$co7:#b38564;
$co8:#6d8397;