@import "_variable";

.Colleen {
    #footer {
        text-align: center;
        color: $main-font-1;
        background-color: $main-co-1;
        padding: 40px 55px;
        margin-bottom: 65px;
        line-height: 18px;
    }
}